.core-layout {

}

.core-layout__topbar {
	@include background-color($secondary-color);

	min-height: $core-topbar-height;
	max-height: $core-topbar-height;

}

.core-layout__content {
	@include layout($direction: horizontal, $wrap: false);
	max-height: calc(100vh - #{$core-topbar-height});
}
.core-layout__sidebar {
	@include layout($direction: vertical, $wrap: false);
	@include flex(1);
	@include background-color($secondary-color-dark);

	min-width: $core-sidebar-width;
	max-width: $core-sidebar-width;

	max-height: calc(100vh - #{$core-topbar-height});

	.sidebar__content {
		overflow-y: auto;
	}

}


.core-layout__page {
	@include layout($direction: vertical, $wrap: false);
}

// TODO: IK HER
.page-content {
	@include flex(1);
	min-height: 100%;
	overflow-y: auto;
	@include scrollbar($thumb-color: $secondary-color);
}

// If we are shoing the enviroment messages, we must make room for shizznickle
body.local,
body.staging {

	.core-layout__sidebar .side-navigation,
	.core-layout__content .page-content > div {
		padding-bottom: 40px;
	}

}