@import "tables/responsive";
@import "tables/colors";

.table {
	@include font-color($secondary-color-light);

	caption {
		@include whitespace($side: horizontal);
		@include font-color($secondary-color-light);
		font-weight: 400;
		font-style: italic;
	}

	> thead > tr {
		> th,
		> td {
			@include font-color($secondary-color-dark);
			font-size: $font-size-h4;
			font-weight: 400;
			border-bottom-width: 1px;
		}
	}
}

@include table-contextual('success', $success-color-lighter);
@include table-contextual('info', $info-color-lighter);
@include table-contextual('warning', $warning-color-lighter);
@include table-contextual('danger', $danger-color-lighter);